@page "/ArticuloActualizarOEliminar/{IDActualizar:int}"


@using FacturadorMVC.Modelos
@rendermode InteractiveServer

<h3>Editar Articulo ID: @IDActualizar</h3>


<form>

    <div style="display:flex; flex-direction:row; gap:5px;">
        
        <div>
            <label>ART_ID:</label>
            <br />
            <input type="text" @bind="articuloEditando.ART_ID" />
            <br />
        </div>

        <div>
            <label>Cant:</label>
            <br />
            <input type="number" @bind="articuloEditando.Cant" />
            <br />
        </div>

        <div>
            <label>Precio:</label>
            <br />
            <input type="number" @bind="articuloEditando.Precio" />
            <br />
        </div>

        <div>
            <label>Moto:</label>
            <br />
            <input type="number" @bind="articuloEditando.Moto" />
            <br />
        </div>

    </div>

    <br />
    <br />

    <button @onclick="() => ActualizarArticulo(articuloEditando.Articulo_ID)"> Guardar cambios </button>
    <button @onclick="() => EliminarArticulo(articuloEditando.Articulo_ID)"> Eliminar </button>
    <button style="margin-left:10px;"> <a href="/Articulos"> Cancelar </a> </button>

</form>

<p style="color:orange;">@msj</p>


@code 
{

    [Parameter]
    public int IDActualizar { get; set; }

    Articulo oArticulo = new Articulo();

    Articulo articuloEditando = new Articulo();

    string msj = "";

    protected override async Task OnInitializedAsync()
    {
        await GetArticuloByID();
    }

    private async Task GetArticuloByID()
    {
        var url = oArticulo.URL_GetArticuloByID(IDActualizar);

        using (HttpClient httpClient = new HttpClient())
        {
            var response = await httpClient.GetAsync(url);

            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();

                var options = new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true
                    };

                articuloEditando = JsonSerializer.Deserialize<Articulo>(content, options);

                StateHasChanged();
            }
        }
    }

    public async Task ActualizarArticulo(int IDActualizar)
    {
        try
        {
            var url = oArticulo.URL_ActualizarArticulo(IDActualizar);

            using (HttpClient httpClient = new HttpClient())
            {
                var json = JsonSerializer.Serialize(articuloEditando);

                var content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

                var response = await httpClient.PutAsync(url, content);

                if (response.IsSuccessStatusCode)
                {
                    var resultado = await response.Content.ReadAsStringAsync();

                    msj = resultado;
                }
                else
                {
                    var error = await response.Content.ReadAsStringAsync();

                    msj = error;
                }
            }
        }
        catch (Exception ex)
        {

        }
        finally
        {
            StateHasChanged();
        }

    }

    public async Task EliminarArticulo(int IDAEliminar)
    {
        try
        {
            var url = oArticulo.URL_EliminarArticulo(IDAEliminar);

            using (HttpClient httpclient = new HttpClient())
            {
                var response = await httpclient.DeleteAsync(url);

                if (response.IsSuccessStatusCode)
                {
                    var content = response.Content.ReadAsStringAsync();

                    var msj = content.Result;

                    articuloEditando = new Articulo();
                }
            }
        }
        catch (Exception ex)
        {

        }
        finally
        {
            StateHasChanged();
        }

    }


}
